# Virtual Environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env

# Model files
*.pkl
*.joblib
*.h5
*.pt

# Large datasets
data/raw/
data/*.zip

# Logs
*.log

# Temporary files
*.tmp
*.temp
# Ignore model files except the trained rent prediction model
*.joblib
*.h5
*.pt

!models/house_rent_prediction_model.pkl